.neo-repeat-generate-button { /* Not Active & Not Busy: orange */
    min-width: 9.5em;
    font-size: 0.9em;
    background: var(--button-primary-background-fill) !important;
    color: var(--button-primary-text-color) !important;
    border-color: var(--button-primary-border-color) !important;
    border-radius: 8px;
    flex: 1;
}

.neo-repeat-generate-button.neo-repeat-generate-active { /* Active: green */
    background: #80ff80 !important;
    color: var(--button-secondary-text-color) !important;
}

.neo-repeat-generate-button.neo-repeat-generate-wait { /* Not Active & Busy: yellow */
    background: #ffff80 !important;
    color: var(--button-secondary-text-color) !important;
}

.neo-repeat-generate-interrupt-button {
    min-width: 9.5em;
    font-size: 0.9em;
    background: #ffa4a4 !important;
    border-radius: 8px;
    flex: 1;
}

.neo-repeat-generate-interrupt-button:disabled {
    opacity: 0.55;
    cursor: not-allowed;
    filter: grayscale(1);
}

.neo-repeat-generate-interrupt-button.neo-repeat-generate-interrupt-enabled {
    filter: none;
}

.neo-repeat-generate-buttons {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.neo-repeat-generate-status {
    align-self: center;
    font-size: 0.9em;
    opacity: 0.85;
    margin-left: 0.5em;
}
